# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# VIM files
*.sw*

# Coverage
coverage.info
coverage_html
*.gcda
*.gcno
*.cache

# pytest
__pycache__

# Automake temp files
*.in
.deps
.libs
*.log
*.m4
Makefile
compile
config.guess
config.sub
config.status
configure
depcomp
install-sh
ltmain.sh
missing
libtool
